<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>ClassReviewComment</title>
    <!--css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <form type="get" action="">
        <div class="stars">
            <input id="star5" type="radio" name="star" value="5" />
            <label for="star5">★</label>
            <input id="star4" type="radio" name="star" value="4" />
            <label for="star4">★</label>
            <input id="star3" type="radio" name="star" value="3" />
            <label for="star3">★</label>
            <input id="star2" type="radio" name="star" value="2" />
            <label for="star2">★</label>
            <input id="star1" type="radio" name="star" value="1" />
            <label for="star1">★</label>
        </div>
    </form><!-- https://www.will3in.co.jp/frontend-blog/article/5star-rating-on-contact-form7/  -->

    <p>
        <textarea class="textlines" placeholder="Share derails of your own experience at this place "></textarea><br>
    </p>
    <a href="./ClassDetail.html" class="link button btn btn--orange5 btn--radius">キャンセル</a>
    <a href="./ClassDetail.html" class="link button btn btn--orange3 btn--radius">登録</a>


</body>

</html>