<!--
* 2022/06/22
* C1 UI処理部
* 授業評価&コメント画面
* @author ShojiAyumu
* ver. 1.0.0
-->
<!DOCTYPE html>
<html lang="ja" xmlns:th="www.tymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>ClassReviewComment</title>


    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <form method="post" action="/class/post" >
        <input type="hidden" name="classId" th:value="${classId}">
        <div class="stars">
            <input id="star5" type="radio" name="star" value="5" required/>
            <label for="star5">★</label>
            <input id="star4" type="radio" name="star" value="4" />
            <label for="star4">★</label>
            <input id="star3" type="radio" name="star" value="3" />
            <label for="star3">★</label>
            <input id="star2" type="radio" name="star" value="2" />
            <label for="star2">★</label>
            <input id="star1" type="radio" name="star" value="1" />
            <label for="star1">★</label><br>
            </div>
            <textarea class="textlines" name="comment" required></textarea><br>
    <div class="parent">
        <input type="button" class="link button btn--orange5 btn--radius" value="キャンセル" onclick="history.back()"/>
        <input type="submit" class="link button btn--orange3 btn--radius" value="登録"/>
        </div>
    </form><!-- https://www.will3in.co.jp/frontend-blog/article/5star-rating-on-contact-form7/  -->

</body>

</html>