<!--
* 2022/06/22
* C1 UI処理部
* 授業一覧画面
* @author ShojiAyumu
* ver. 1.0.0
-->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.tymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>ClassList</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
    <h1 class="title">授業一覧</h1>
    <ol class="ClassList">
        <li th:each="class : ${classList}">
            <form class="button" action="/class/detail" method="get">
                <input type="hidden" name="classId" th:value="${class.id}">
                <input type="submit" th:value="${class.name}">
            </form>
        </li>
    </ol>

    <a href="/" class="button btn--orange btn--radius">メインページに戻る</a>
    
</body>

</html> 