<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>ClassDetail</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1 class="title"> 高度情報演習1B</h1>
    <div class="review">★4.9</div>
    <div class="box11">
        <p>電子書籍ストア 累計 687,925タイトル 1,407,917冊配信!漫画やラノベが毎日更新!
            【感想・ネタバレ】Web制作者のためのCSS設計の教科書のレビュー
            Web制作者のためのCSS設計の教科書
            谷拓樹

            © BookLive Co., Ltd.
        </p>
    </div>
    <div class="box11">
        <a class="button" href="./ClassReviewComment.html">
            <p>>評価&コメントする<</p>
        </a>
    </div>
    <div class="box11">
        <p>★4
            そんくらいは余裕よね♪
            てか今から食べ盛りって怖すぎwww(๑´ㅂ`๑)
            草食系いいねー。
            何も言わない人がいいわ(笑)
        </p>
    </div>
    <div class="box11">
        <p>★3 ぴのこちゃん
            えー大丈夫!？
            働いてて1000いかないってキツくない？💦
            この日、昼バイキングだったから
            彼らは3000くらいいってるよね(；´Д`A
            羨ましいけど代謝いいんだろうなー(-∀-`)
        </p>
    </div>
    <a href="./FoodList.html" class="button btn btn--orange4 btn--radius">授業メニューに戻る</a>
</body>

</html>