<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.tymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>ClassList</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
    <ol class="ClassList">
        <li><a class="button" href="./ClassDetail.html">高度情報演習1B</a></li>
        <li><a class="button" href="./ClassDetail.html">高度情報演習1B</a></li>
        <li><a class="button" href="./ClassDetail.html">高度情報演習1B</a></li>
        <li><a class="button" href="./ClassDetail.html">高度情報演習1B</a></li>
        <li><a class="button" href="./ClassDetail.html">高度情報演習1B</a></li>
        <li><a class="button" href="./ClassDetail.html">高度情報演習1B</a></li>
        <li><a class="button" href="./ClassDetail.html">高度情報演習1B</a></li>
        <li><a class="button" href="./ClassDetail.html">高度情報演習1B</a></li>
        <li><a class="button" href="./ClassDetail.html">高度情報演習1B</a></li>
        <li><a class="button" href="./ClassDetail.html">高度情報演習1B</a></li>
    </ol>
    <a href="./MainMenu.html" class="button link2 btn btn--orange btn--radius">メインページに戻る</a>
    <a href="./MainMenu.html" class="button link2 btn btn--orange2 btn--radius">学部学科入力フォームに戻る</a>
    
</body>

</html> 