<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.tymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>学食メニュー | 芝浦便利システム</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <h1 class="title">メニューランキング</h1>
    <ol class="food" >

        <li  th:each="menu : ${menuList}">
                <form class="button" action="cafeteria/detail" method="get">
                <input type="hidden" name="menuId" th:value="${menu.id}">
                <input type="submit" th:value="${menu.name}">
            </form>
        </li>


    </ol>
    <div class="parent">
    <a href="/" class="link button btn--orange btn--radius">メインページに戻る</a>
    </div>
</body>

</html>