<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>FoodDetail</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
    <h1 class="title"> 商品名</h1>
    <div class="foodimg">
        <img src="img/food.jpg" alt="food image">
    </div>
    <div class="review">★4.9</div>
    <div class="box11">
        <p>すき家 牛丼 （お持ち帰り） 大盛
            ✩ ⋆ ✩ ⋆ ✩ ⋆ ✩ ⋆ ✩﻿ ⋆ ✩ ⋆ ✩﻿

            遊び疲れて、くたくたァ(；´Д`A
            こんな時は必殺帰りにドライブスルーですき家w
            私もお味見、いただきますψ(๑;ڡ'๑)ψ
            ☆*°☆*°
            我が家の男子ーズ、
            1番上と下との歳の差、30歳。
            なのにみんな同じ大盛りっ:( ;´꒳`;)
            とりあえず子どもさんはつゆだく、
            旦那さんは汁に浸ったご飯は嫌との事で
            ノーマルをお持ち帰り～。

            具はシンプルに牛肉と玉ねぎ☆*°
            小袋の紅しょうがと七味付き。
            ふりふり脂身のついた薄い牛バラ肉。
            薄いからそこまで硬さは気にならないかな♬.*ﾟ
            その時によって違うのかも知れないけど
            玉ねぎは結構入ってて
            シャキシャキ食感も残ってた☆*°
            つゆだくの方はご飯にしみしみぃ♡♡
            絶対つゆだくが美味しそぉだけど
            まぁソコは好みかな｡:+((*´艸`))+:｡

            大盛りでも500円くらいで
            980kcal摂取できるなんて
            男子の味方(๑´ㅂ`๑)v</p>
    </div>
    <div class="box11">
        <a class="button" href="./FoodReviewComment.html">
            <p>>評価&コメントする<</p>
        </a>
    </div>
    <div class="box11">
        <p>★4
            そんくらいは余裕よね♪
            てか今から食べ盛りって怖すぎwww(๑´ㅂ`๑)
            草食系いいねー。
            何も言わない人がいいわ(笑)
        </p>
    </div>
    <div class="box11">
        <p>★3 ぴのこちゃん

            えー大丈夫!？
            働いてて1000いかないってキツくない？💦
            この日、昼バイキングだったから
            彼らは3000くらいいってるよね(；´Д`A
            羨ましいけど代謝いいんだろうなー(-∀-`)


        </p>
    </div>


    <a href="./FoodList.html" class="button btn btn--orange4 btn--radius">学食メニューに戻る</a>


    </div>
</body>


</html>