<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>FoodList</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>

    <h1 class="title"> メニューランキング</h1>
    <ol class="food">
        <li><a class="button "  href="detail" >かつ丼</a></li>
        <li><a class="button "  href="detail">つなまよ</a></li>
        <li><a class="button "  href="detail" >かつ丼</a></li>
        <li><a class="button "  href="detail" >かつ丼</a></li>
        <li><a class="button "  href="detail" >かつ丼</a></li>
        <li><a class="button "  href="detail" >かつ丼</a></li>
        <li><a class="button "  href="detail" >かつ丼</a></li>
        
    </ol>
    
    <a href="/" class="button btn btn--orange btn--radius">メインページに戻る</a>


</body>

</html>