<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.tymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>FoodDetail</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
    <h1 class="title" th:text="${menu.name}"></h1>

    <div class="foodimg">
        <img th:src="@{/image/{item}.png (item=${menu.image})}" alt="food image">
    </div>

    <div class="review">
        <p th:text="${evaluation}"></p>
    </div>

    <div class="box11">
        <p th:text="${menu.explain}"></p>
    </div>

    <br>

    <div class="box11">
        <form action="/cafeteria/review" method="get">
            <input type="hidden" name="menuId" th:value="${menu.id}">
            <input type="submit" value="評価＆コメントする">
        </form>
    </div>

    <br>

    <ul th:each="post : ${posts}">
        <div class="box11">
            <li>
                <p th:text="${post.evaluation}"></p>
                <p th:text="${post.comment}"></p><br>
            </li>
        </div>

    </ul>


    <a href="/cafeteria">戻る</a>

</body>


</html>