<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.tymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>FoodDetail</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
    <h1 class="title" th:text="${menu.name}"></h1>

    <div class="foodimg">
        <img src="img/food.jpg" alt="food image">
    </div>

    <div class="review">
        <p th:text="${evaluation}"></p>
    </div>

    <div class="box11">
        <p th:text="${menu.explain}"></p>
    </div>

    <div class="box11">
        <form action="/detail/review" method="get">
            <input type="hidden" name="id" th:value="${menu.id}">
            <input type="submit" value="評価＆コメントする">
        </form>
    </div>

    <div class="box11">
        <p>★4
            そんくらいは余裕よね♪
            てか今から食べ盛りって怖すぎwww(๑´ㅂ`๑)
            草食系いいねー。
            何も言わない人がいいわ(笑)
        </p>
    </div>
    <div class="box11">
        <p>★3 ぴのこちゃん
            えー大丈夫!？
            働いてて1000いかないってキツくない？💦
            この日、昼バイキングだったから
            彼らは3000くらいいってるよね(；´Д`A
            羨ましいけど代謝いいんだろうなー(-∀-`)
        </p>
    </div>

    <a href="/cafeteria" class="button btn btn--orange4 btn--radius">学食メニューに戻る</a>

</body>


</html>