<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.tymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>FoodReviewComment</title>
    <!--css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
    <form method="post" action="/cafeteria/post">
        <input type="hidden" name="menuId" th:value="${menuId}"/>
        <div class="stars">
            <input id="star5" type="radio" name="star" value="5" />
            <label for="star5">★</label>
            <input id="star4" type="radio" name="star" value="4" />
            <label for="star4">★</label>
            <input id="star3" type="radio" name="star" value="3" />
            <label for="star3">★</label>
            <input id="star2" type="radio" name="star" value="2" />
            <label for="star2">★</label>
            <input id="star1" type="radio" name="star" value="1" />
            <label for="star1">★</label>
        </div>
        <textarea class="textlines" name="comment"></textarea><br>
        <input type="button" class="link button btn btn--orange5 btn--radius" value="キャンセル" onclick="history.back()"/>
        <input type="submit" class="link button btn btn--orange3 btn--radius" value="登録"/>
    </form><!-- https://www.will3in.co.jp/frontend-blog/article/5star-rating-on-contact-form7/  -->

</body>

</html>