<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.tymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>MainMenu</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
        <h1>
                <div class="MainMenu">
                    <div class="MainItem"> <a class="button" href="cafeteria">学食</a></div>
                    <div class="MainItem"><a class="button" href="class">授業</a></div>
                    <div class="MainItem"><a class="button" href="notice">掲示板</a></div>
                    </div>
                </ul>
        </h1>
</body>
</html>