<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>MainMenu</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
        <h1>
                <div class="MainMenu">
                    <div class="MainItem"> <a class="button" href="FoodList.html">学食</a></div>
                    <div class="MainItem"><a class="button" href="ClassFirmInput.html">授業</a></div>
                    <div class="MainItem"><a class="button" href="NoticeBoardList.html">掲示板</a></div>
                    </div>
                </ul>
        </h1>
</body>
</html>