<!--
* 2022/06/22
* C1 UI処理部
* 画面
* @author ShojiAyumu
* ver. 1.0.0
-->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.tymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>NoticeBoardMake</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <form action="/notice/make" class="parent">
        <input class="text" type="text" name="title" placeholder="スレッド名入力欄" required><!--  https://code-kitchen.dev/html/input-text/  -->
        <input type="button" class="link button btn--orange5 btn--radius" value="キャンセル" onclick="history.back()"/>
        <input type="submit" class="link button btn btn--orange6 btn--radius" value="入力する">
        <input type="button" class="link button btn btn--orange6 btn--radius" value="戻る" onclick="history.back()">
    </form>
</body>
</html>