<!--
* 2022/06/22
* C1 UI処理部
* 掲示板詳細画面
* @author ShojiAyumu
* ver. 1.0.0
-->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.tymeleaf.com">

<head>
    <meta charset="utf-8">
    <title>NoticeBoardDetail</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <h1 class="title">掲示板</h1>
    <ul th:each="post : ${postList}">
        <div class="box11">
            <li>
                <p th:text="${post.comment}">
            </li>
        </div>
    </ul>
    
    <form action="/notice/post" method="post">
        <textarea class="textlines" name="comment" placeholder="コメント入力欄 "></textarea><br>
        <input type="hidden" name="noticeId" th:value="${noticeId}">
        <div class="parent">
          <input type="button" class="link button btn--orange5 btn--radius" value="キャンセル" onclick="history.back()"/>
          <input type="submit"class="link　button btn--orange5 btn--radius" value="コメントする" >
        </div>
    </form>
</body>

</html>