<!--
* 2022/06/22
* C1 UI処理部
* 掲示板一覧画面
* @author ShojiAyumu
* ver. 1.0.0
-->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.tymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>NoticeBoardList</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <h1 class="title">掲示板</h1>
    <ul th:each="notice : ${noticeList}">
        <div class="box11">
            <li>
                <form class="button" action="/notice/detail" method="get">
                    <input type="hidden" name="noticeId" th:value="${notice.id}">
                    <input type="submit" th:value="${notice.name}">
                </form>
            </li>
        </div>
    </ul>
<div class="parent">
    <input type="button" class="link button btn--orange5 btn--radius" value="メインページに戻る" onclick="history.back()"/>
    <a href="/notice/thread" class="link button btn--orange ">スレッドを立てる</a>
    </div>
</body>
</html>