<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.tymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>NoticeBoardMake</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <form action="/notice/make" >
        <input class="text" type="text" name="title" placeholder="スレッド名入力欄"><!--  https://code-kitchen.dev/html/input-text/  -->
        <input type="submit" class="link button btn btn--orange6 btn--radius" value="入力する">
        <input type="button" class="link button btn btn--orange6 btn--radius" value="戻る" onclick="history.back()">
    </form>
</body>
</html>